<ion-view view-title="">
  <ion-content>

    <div class="list list-inset">
      <div class="row">
        <div class="col text-center">
          <div>
            <i class="icon ion-leaf icon-align-center" style="font-size: 150px; color: #33cd5f;"></i>
            <h3>Cenfotec Recycle</h3>
          </div>
        </div>
      </div>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input type="text" ng-model="username">
      </label>
      <label class="item item-input">
        <span class="input-label">Password</span>
        <input type="password" ng-model="password">
      </label>

      <span class="item-note">
        <button class="button button-clear button-stable">
          Forgot your password?
        </button>
      </span>

      <button class="button button-block button-positive" ng-click="doLogin(username, password)">
        Login
      </button>
      <button class="button button-outline button-block button-balanced" ng-click="openModal()">
        Register
      </button>
    </div>
  </ion-content>

</ion-view>
