<ion-view view-title="">
  <ion-content class="padding">

    <div class="list card">
      <div class="item item-avatar item-icon-right">
        <img src="https://scontent-ord1-1.xx.fbcdn.net/hphotos-xat1/v/t1.0-9/10641292_758556717539401_6233236325161753716_n.jpg?oh=20ece72ac75a93a7814fb45800b28bd5&oe=569277EF">
        <h2>Pablo Fallas</h2>
        <p>Software Engineering</p>
        <i class="icon ion-edit"></i>
      </div>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-home"></i>
        San Rafael Arriba, Desamparados, Sanjose.
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-ios-telephone"></i>
        8720-0377
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-at"></i>
        pfallasro@gmail.com
      </a>

      <a href="#" class="item item-icon-left">
        <i class="icon ion-earth"></i>
        http://www.pfallasro.com/
      </a>

      <div class="padding">
        <a href="#" style="text-decoration: none">
        <div class="list card">
            <div class="row">
              <div class="col text-center">
                <div>
                  <i class="icon ion-search icon-align-center assertive" style="font-size: 90px;"></i>
                  <h3 class="assertive link">Scan Code</h3>
                </div>
              </div>
            </div>
        </div>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
