<ion-view view-title="Info">
  <ion-content>
    <div class="padding">
      <a href="#" style="text-decoration: none">
        <div class="list card">
          <div class="row">
            <div class="col text-center">
              <div>
                <i class="ion-ios-information-outline positive" style="font-size: 90px;"></i>
              </div>
            </div>
          </div>

          <ul class="list">
            <li class="item">
              Version 1.0
            </li>
            <li class="item">
              Created by Pablo Fallas
            </li>
            <li class="item">
              Recycle - Cenfotec
            </li>
            <li class="item">
              Powered by Ionic
            </li>
          </ul>
        </div>
      </a>
    </div>
  </ion-content>
</ion-view>
