<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-person" icon-on="ion-person" href="#/tab/profile">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>

  <!-- Top Ten Tab -->
  <ion-tab title="Top" icon-off="ion-ribbon-a" icon-on="ion-ribbon-a" href="#/tab/top">
    <ion-nav-view name="tab-top"></ion-nav-view>
  </ion-tab>

  <!-- Activities Tab -->
  <ion-tab title="Activities" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <!-- Activities Tab -->
  <ion-tab title="About" icon-off="ion-gear-b" icon-on="ion-gear-b" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>


</ion-tabs>
